<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="css/components/autocomplete.min.css" />
		<link rel="stylesheet" href="css/custom/base.css" />
		<link rel="stylesheet" href="css/custom/flag-icon.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
		
		
		
        

    </head>
    <body>

		<nav class="uk-navbar">
		                <a href="layouts_frontpage.html" class="uk-navbar-brand uk-hidden-small logo">
		                	<img src="img/logo.png">
		                </a>
		              <!--  <ul class="uk-navbar-nav uk-hidden-small">
		                    <li>
		                        <a href="layouts_frontpage.html">Frontpage</a>
		                    </li>
		                    <li>
		                        <a href="layouts_portfolio.html">Portfolio</a>
		                    </li>
		                    <li>
		                        <a href="layouts_blog.html">Blog</a>
		                    </li>
		                    <li class="uk-active">
		                        <a href="layouts_documentation.html">Documentation</a>
		                    </li>
		                    <li>
		                        <a href="layouts_contact.html">Contact</a>
		                    </li>
		                    <li>
		                        <a href="layouts_login.html">Login</a>
		                    </li>
		                </ul>
		                <a data-uk-offcanvas="" class="uk-navbar-toggle uk-visible-small" href="#offcanvas"></a>-->
		                <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><img src="img/logo.png"></div>
		            </nav>
		
		<div data-uk-grid-margin="" class="uk-grid">
			<div class="uk-width-medium-1-1 uk-row-first">

				<div class="portrait-top uk-vertical-align uk-text-center" data-backgroundcopyright="https://unsplash.com/photos/2p1HOcpi14U">
					<div class="uk-vertical-align-middle uk-width-4-6">
						<h1 class="uk-heading-small">TELL ME WHAT YOU WOULD LIKE TO ACHIEVE, AND WILL TELL YOU PEOPLE WHO DID AND HOW TO ACHIEVE IT WITHOUT MONEY</h1>
						<p class="uk-text-large">We've tried to make things simple and fairly intuitive so you can unleash your creativity without any obstacles.</p>




					

						<form id="main-search-job">
							<div class="field">
								<input type="text" placeholder="What you want to become? e.g: Developer" id="search-job" class="main-search" value="">
								<input type="submit" value="Buscar">
							</div>
							
							<ul id="search-job-list">
								
							</ul>
						</form>


					</div>
				</div>
			</div>
		</div>
			
		<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom region-grid">
		
		<h1 class="home-message">
			People who achieve this and are from your country or around you
		</h1>
		
		<div id="worker-list"data-uk-grid-margin="" class="uk-grid" >
			
			<!--
				<div class="uk-width-medium-1-5 uk-text-center uk-row-first">
					<div class="uk-thumbnail uk-overlay-hover uk-border-circle">
						<figure class="uk-overlay">
							<img width="250" height="250" alt="" src="img/userpic.jpg" class="uk-border-circle">
							<figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
								<div>
									<a class="uk-icon-button uk-icon-envelope" href="#"></a>
									<a class="uk-icon-button uk-icon-twitter" href="#"></a>
									<a class="uk-icon-button uk-icon-google-plus" href="#"></a>
								</div>
							</figcaption>
						</figure>
					</div>
					<h2 class="uk-margin-bottom-remove"><span class="flag-icon flag-icon-gr"></span> Name</h2>
					<p class="uk-text-large uk-margin-top-remove uk-text-muted">Job Description</p>
				</div>
			</div>-->
		</div>
			
		             
		</div>
		</div>
		
		<script type="text/template" id="template-search-job-item">
			<div class="job-item">
				<%- occupation %>
			</div>
		</script>
		
		<script type="text/template" id="template-worker-item">
			<div class="worker-item">
					<div class="">
						<div class="uk-thumbnail uk-overlay-hover uk-border-circle">
							<figure class="uk-overlay">
								<img width="250" height="250" alt="" src="img/userpic.jpg" class="uk-border-circle">
								<figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
									<div>
										<a class="uk-icon-button uk-icon-envelope" href="#"></a>
										<a class="uk-icon-button uk-icon-twitter" href="#"></a>
										<a class="uk-icon-button uk-icon-google-plus" href="#"></a>
									</div>
								</figcaption>
							</figure>
						</div>
						<h2 class="uk-margin-bottom-remove"><span class="flag-icon flag-icon-gr"></span>
							<%- name %>
						</h2>
						<p class="uk-text-large uk-margin-top-remove uk-text-muted">Job Description</p>
					</div>
				</div>
			</div>
		</script>
		
		<script src="js/data-jobs.json"></script>
		<script src="js/data-worker.json"></script>
		<!--<script src="js/list_occupations.json"></script>-->
		<script src="js/libs/jquery-1.10.2.min.js"></script>
		<script src="js/libs/underscore-min.js"></script>
		<script src="js/libs/backbone-min.js"></script>
		<script src="js/app.js"></script>
		

				
		
    </body>
</html>